:root {}

body {
    padding: 0 10vw;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}






.logo {
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.portfolioMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.portfolioItem {
    width: 35vw;
    height: 200px;
    background: pink;
    /*
    margin-right:auto;
    margin-left:auto;
*/
    margin: 20px auto;
}

.portfolioItem:hover {
    opacity: 0.4;
}

.portfolioItem.myk {
    height: 300px;
}
